snippet pdb
	import pdb; pdb.set_trace()
snippet 3com
	"""
	 ${1:# comment}
	"""
snippet while
	while ${1:i} < ${2:condition}:
		${3:# code}

		$1 = $1 + 1
snippet main
	def __main__():

		${1:pass}
	${2}
	if __name__ == '__main__':
		__main__()
snippet header
	#!/usr/local/bin/python3
	# NAME: `g:snips_author`
	# FILE: `Filename('$1.py','name')`
	# DATE: `system("date +%Y-%m-%d")`
	# DESC: ${1:desc}
	# LAST Modified:

	${2}
